<main class="index">
	<header id="header" class="masthead d-flex">
		<div class="container text-center my-auto">
			<h1 class="mb-1">Links Favoritos</h1>
			<h3 class="mb-5">
				<em>Guarda tus enlaces aquí</em>
			</h3>
			<a href="/signin" title="" class="btn btn-primary">Empecemos</a>
		</div>
	</header><!-- /header -->

</main>